.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  background: var(--background-color-light);
}

.logo {
  flex: 2;
}

.search {
  flex: 9;
  padding-right: 64px;
}

.menu {
  flex: 1;
  font-size: 16px;
}

.icon {
  display: block;
  margin-left: auto;
}
