.link {
  text-decoration: none;
}

.container {
  border-radius: 24px;
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--font-color);
  background: var(--background-color-light);
}

.header {
  background: red;
  margin: 16px;
  border-radius: 8px;
}
