.container {
  padding: 32px;
  background: #f7f7f7;
  border-radius: 8px;
}

.row {
  margin-bottom: 32px;
  background: #f2f2f2;
  border-radius: 8px;
  animation: 1s linear infinite flash;
}

@keyframes flash {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
