.container {
  border: 0;
  border-radius: 8px;
  padding: 16px 32px;
  width: 100%;
  cursor: pointer; }

.primary {
  background: var(--primary-color);
  color: var(--font-color-light);
}

.secondary {
  background: var(--secondary-color);
  color: var(--font-color-light);
}

.info {
  background: var(--info-color);
  color: var(--font-color-light);
}

.warning {
  background: var(--warning-color);
  color: var(--font-color-light);
}

.danger {
  background: var(--danger-color);
  color: var(--font-color-light);
}

.outline {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid  var(--primary-color);
  border-radius: 32px;
  transition: all 0.3s ease;
}

.outline:hover {
  background: var(--primary-color);
  color: var(--font-color-light);
}

.default {}
